 
<h1>Edit Project</h1>

<%= form_with model: @project do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
  <%= form.label :place %><br>
  <%= form.text_field :place %>
</div>
<div>
<%= form.label :title %><br>
<%= form.text_field :title %>
</div>
<div>
<%= form.label :description %><br>
<%= form.text_area :description %>
</div>
<div>
<%= form.label :livesource %><br>
<%= form.text_field :livesource %>
</div>
<div>
<%= form.label :sourcecode %><br>
<%= form.text_field :sourcecode %>
</div>

<%=form.label "Profile image"%>
<%=form.file_field :images , multiple: true%>
<div>
<%= form.label :thumb %><br>
<%= form.text_field :thumb %>
 <%= form.collection_check_boxes :technology_ids, Technology.all, :id, :name ,multiple: true%>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
