<div class="login">
<div class="login2">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="a">
    <%= f.label :email,:class=>"" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"login-f" %>
  </div>

  <div class="a">
    <%= f.label :password ,:class=>"" %><br />
    <%= f.password_field :password, autocomplete: "current-password"  ,:class=>"login-f"%>
  </div>

  <div class="a">
    <%= f.submit "Log in",  :class=>"login-s"%>
  </div>

<% end %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :email ,:value=>"guest@gmail.com" %>
    <%= f.hidden_field :password ,:value=>"password" %>
  <div class="a">
    <%= f.submit "Log in as Guest" ,:class=>"login-s" %>
  </div>
<% end %>
</div>
</div>

