<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "layouts/mobile" %>
    <div class="main">
       <%if user_signed_in?%>
     <div class="side-nav">
       <%=render "devise/shared/nav"%>
     </div>
    
    <script>
    
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

<%end%>
 <div class="content">
    <%= yield %>
  </div>
  </div>
  </body>

</html>
